*.[ao]
*.gcda
*.gcno
*.gcov
*.l[ao]
*.log
*.trs
.deps/
.dirstamp
.libs/
/Doxyfile
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.log
/config.status
/configure
/coverage.info
/libmcp23016-*/
/libmcp23016-*.tar.*
/libmcp23016-*.zip
/libmcp23016.pc
/libtool
/stamp-*
